.App {
  text-align: center;
}

.redToPlay {
  color: mediumvioletred
}

.yellowToPlay {
  color: gold;
}

h1 {
  margin: 0px;
  padding: 1px;
  font-size: 5vmin;
}

.restartBtn {
  width: 95vmin;
  height: 11min;
  color: lightskyblue;
  background: black; 
  font-size: 5vmin;
}