.App {
  text-align: center;
}

.redToPlay {
  color: mediumvioletred
}

.yellowToPlay {
  color: gold;
}

.restartBtn {
  position: fixed;
  right: 0;
  top: 0;
  color: lightskyblue;
  background: black; 
  margin: 30px;
}